body {

    background-color: #97cae8;
    color: black;
}

div#footer {
    
    font-size: 0.8em;
    background-color: #d0a2eb;
    border: 4px solid grey;
    margin-top: 3em;
    padding: 1em;
}

